node_modules
/admin/node_modules
/admin/www
/backend/node_modules
/dist
/www
/tmp
/public/static/images/sprite.svg

/tests/e2e/videos/
/tests/e2e/screenshots/

.env.local
.env.*.local
*.log
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json
.settings/
.vscode/
